{% extends 'base.html.twig' %}

{% block title %}Tag{% endblock %}

{% block body %}
    <h1>Tag</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ tag.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ tag.title }}</td>
        </tr>
        <tr>
            <th>Slug</th>
            <td>{{ tag.slug }}</td>
        </tr>
        <tr>
            <th>Created At</th>
            <td>{{ tag.createdAt ? tag.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Updated At</th>
            <td>{{ tag.updatedAt ? tag.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('tag_index') }}">back to list</a>

    <a href="{{ path('tag_edit', {'id': tag.id}) }}">edit</a>

    <form method="post" action="{{ path('tag_delete', {'id': tag.id}) }}" style="display: inline-block">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tag.id) }}">
        <button class="btn btn-danger">delete</button>
    </form>
{% endblock %}
