{% extends 'base.html.twig' %}

{% block title %}{{ 'title.delete_task'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'title.delete_task'|trans }}</h1>

    <p>{{ 'message.confirm_delete'|trans({'%title%': task.title}) }}</p>

    {{ form_start(form) }}
    <button type="submit" class="btn btn-danger">{{ 'button.delete'|trans }}</button>
    <a href="{{ path('task_index') }}" class="btn btn-secondary">{{ 'button.cancel'|trans }}</a>
    {{ form_end(form) }}
{% endblock %}
