{% extends 'base.html.twig' %}

{% block title %}
    {{ 'Rekordy'|trans }}
{% endblock %}

{% block body %}
    <h1>{{ 'Lista rekordów'|trans }}</h1>
    {% if pagination is defined and pagination.items|length %}

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'ID'|trans, 'task.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Data utworzenia'|trans, 'task.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Data aktualizacji'|trans, 'task.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'Tytuł'|trans, 'task.title') }}</th>
                <th>{{ 'Kategoria'|trans }}</th>
                <th>{{ 'Działanie'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for task in pagination.items %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.createdAt|format_date('long') }}</td>
                    <td>{{ task.updatedAt|format_date('long') }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.category.title }}</td>
                    <td>
                        <a href="{{ url('task_show', {id: task.id}) }}" title="{{ 'action.show'|trans }}">
                            {{ 'action.show'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <p>
            {{ 'message.empty_list'|trans }}
        </p>
    {% endif %}
{% endblock %}